
adjoint_sim_sf.egg-info/*
.pytest_cache/*
env_check/*.vschode/
.vscode/
**/__pycache__/
adjoint_sim_sf/__pycache__
scrap_notebooks/

.history/
*.mph
*.mph.*
Images/*
AdjointOptimisation/
adjoint_sim_sf/comsol_output