
adjoint_sim_sf.egg-info/*
.pytest_cache/*
env_check/*.vschode/
.vscode/
**/__pycache__/
adjoint_sim_sf/__pycache__
scrap_notebooks/

notebooks/
.history/
*.mph
*.mph.*
GoodImages/*
AdjointOptimisation/
adjoint_sim_sf/comsol_output
adjoint_sim_sf/legacy
AGENTS.md

results/*
